*{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
body{
   overflow-x: hidden;
}
/* banner section starts */
.banner{
    background-color: #FFF4E7;
    padding: 10px;
    
}
.banner-navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 1%;
}
.banner-menu{
    display: flex;
}
.banner-menu li{
    list-style: none;
    margin-left: 50px;
}
.banner-menu li a{
    text-decoration: none;
    color: #474747;
}
.banner-description{
   text-align: center;
   margin-top: 10%;
   margin-left: 12%;
    margin-right: 12%;
}
.banner-title{
    font-size: 35px;
    font-weight: 800;
}
.banner-subtitle{
    margin: 20px 0;
    color: #B9B3AD;
    font-size: 10px;
}
.text-primary{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    color: white;
    border: none;
    margin-bottom:5% ;
}
.banner-image img{
    width: 77%;
    margin-left: 12%;
    margin-right: 12%;
}
/* quick list area starts */
.list-section{
    margin-top: 50px;
    margin-bottom: 50px;
}
.list-section-description{
    margin-top: 7%;
}
.list-section-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   grid-gap: 10px;
    width: 30%;
}
.list-section-images img{
width: 100%;

}
.list-section-description .ql{
    color:#727272 ;
}
.list-section-description .ou{
    color:black
}
.list-section-description .f{
    color:#FF900E ;
}
.quick_list_subtitle{
    color:#B9B3AD; 
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
}
.list-section{
    display: flex;
    gap: 20px;
    justify-content: center;
}
/* feature area starts */
p{
   
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.feature-section{
    margin-top: 100px;
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-bottom: 100px;
    margin-left:-16%

}
.feature-section p{
    color: #646464;
}
.feature_title{
    border-left: 5px solid #FF900E;
}
.box-shadow{
    width: 586px;
    height: 100px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 20px;
}
.box-shadow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.box-shadow h3,p{
    padding-left: 10px;
}
.feature_image img{
    width: 450px;
    height: 650px;
    position: absolute;
   
}
.large_btn{
    background-color: #FF900E;
    color: white;
    border: none;
    text-align: center;
    padding:20px;
    border-radius: 5px;
    position: relative;
    top: 595px;
    left: -38px;
 
}
button{
    border-radius: 5px;
}
/* some facts area starts */
.some_facts_boxes{
    display: flex;
    gap:20px;
    justify-content: center;
    margin-bottom: 100px;
}
.some_facts_box{
    width: 241px;
    height: 241px;
    border:2px solid #FF900E;
    text-align: center;
    padding-top: 10px;
}
.some_facts_box:hover{
    color:white;
    background-color: #FF900E;
}
.some_facts_box{
    transition: color 2s, background-color 2s;
}


/* sponsor area starts */
.sponsor{
    text-align: center;
}
.sponsor_icons{
    margin-top: 30px;
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 100px;
    justify-content: center;
    place-items: center;
}
/* contact area starts */
.contact{
    background-color: #FF900E;
    text-align: center;
    color: white;
    padding: 20px;
}
input,textarea{
    border:none;
}
.submit{
    border: none;
    background-color: blueviolet;
    padding: 10px;
    color: white;
}
footer{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 80%;
    justify-content: center;
    background-color: #FFF4E7;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 5px;
}

/* Media Queries */
@media only screen and (min-width:577px) and (max-width:992px){
.feature-section{
    flex-direction: column-reverse;
}
.feature_image{
    margin:auto;
    padding: 0!important;
}
.feature_info{
    margin-left: auto;
    margin-top:61%;
    
}
.sponsor_icons{
    grid-template-columns: repeat(2,1fr);
   place-items: center;
}
}
@media only screen and (max-width:576px) {
    .banner-menu{
        flex-direction: column;
        
      
    }
    .list-section{
        flex-direction: column;
    }
    .list-section-images{
        grid-template-columns: repeat(1,1fr);
      align-items: center;
      width: 100%;
    }
    .list-section-description{
        padding: 10px;
    }
    .feature-section{
        flex-direction: column;
    }
  .feature-section{
    width: 100%;
    margin:0;
  }
  .box-shadow{
    width: 100%;
  }
  .feature_image img{
    width: 100%;
 
    position: relative;
   
}
.large_btn{
    left: 130px;
    top: 10px;
}
.some_facts{
    
    position: relative;
}

.some_facts_boxes{
    flex-direction: column;
    align-items: center;
}
.sponsor{
    position: relative;
  
}
.sponsor_icons{
    grid-template-columns: repeat(1,1fr);
    place-items: center;
}
.sponsor_icons img{
    width: 150px;
}

}